#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.modal {
  position: fixed;
  top: 20%;
  left: calc(50% - 300px);
  width: 600px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 4px rgba(163, 163, 163, 0.8);
  text-align: center;
  display:none;
}

.modal h2 {
  margin: 20px;
}

.form-control label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-control input {
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid rgb(204, 204, 204);
}

.error label {
  color:rgb(196, 59, 59)
}

.error input {
  background-color: rgb(233, 148, 148);
  border: 1px solid black;
}