body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: azure;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#main-header {
  background: linear-gradient(45deg, lightblue 30%, rgb(101, 163, 255), blue);
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}
nav li {
  display: inline-block;
  margin: 0 20px
}
nav a {
  padding: 5px 0;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
}

nav a:hover {
  color: rgb(217, 237, 255);
  border-bottom: 3px solid rgb(217, 237, 255);

}

.btn {
  font: inherit;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(105, 145, 255);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: .5px .5px 2px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  background-color: rgb(3, 70, 255);
  border: transparent
}

.btn-alt {
  background-color: transparent;
  box-shadow: none;
}
.btn-alt:hover {
  background-color: rgb(189, 207, 255);
}

#username {
  position: fixed;
  top: 20%;
  left: calc(50% - 300px);
  width: 600px;
  border-radius: 10px;
  background-color:rgb(155, 188, 237);
  box-shadow: 0 0 4px rgba(163, 163, 163, 0.8);
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.aside-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

/* PLAYER CONFIGURATION */
.players {
  margin-top: 2rem;
  text-align: center;
}

ol {
  width: 800px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.player-box {
  width: 20rem;
  padding: 1%;
  text-align: center;
  background-color: rgb(155, 188, 237);
  border-radius: 10px;
  box-shadow: .5px .5px 2px rgba(0, 0, 0, 0.4);
}

.player-box h3 {
  font-weight: 400;
}

.start-game-btn {
  margin-top: 20px;
}
.start-game-btn:hover {
  ;
}

/* === BOARD CONFIGURATION === */

.game-board {
  margin: 0 auto;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 320px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: rgb(105, 145, 255);
}