body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
}



#main-header {
  background: linear-gradient(45deg, lightblue 30%, rgb(101, 163, 255), blue);
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}
nav li {
  display: inline-block;
  margin: 0 20px
}
nav a {
  padding: 5px 0;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
}

nav a:hover {
  color: rgb(217, 237, 255);
  border-bottom: 3px solid rgb(217, 237, 255);

}

.btn {
  font: inherit;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(105, 145, 255);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: .5px .5px 2px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  background-color: rgb(3, 70, 255);
  border: transparent
}

.btn-alt {
  background-color: transparent;
  box-shadow: none;
  color:rgb(3, 70, 255)
}

.btn-alt:hover {
  background-color: rgb(189, 207, 255);
}

.aside-buttons {
  margin: 1rem;
}

/* PLAYER CONFIGURATION */
.players {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
}

ol {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.player-box {
  margin: 1rem;
  padding: .5rem;
  width: 50%;
  background-color: rgb(155, 188, 237);
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.player-box h2 {
  font-size: 1rem;
  margin: .5rem 0;
}
.player-box h3 {
  font-size: 1.5rem;
  margin: .5rem 0;
  color: rgb(3, 70, 255)
}
.player-box p {
  font-size: 2rem;
  font-weight: bold;
  margin: .5rem 0;
}


/* === BOARD CONFIGURATION === */

#active-game {
  text-align: center;
}

#game-over {
  margin: auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  background-color: rgb(3, 70, 255);
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

#active-player-name {
  color:rgb(3, 70, 255);
  font-weight: bold;
}

#game-board {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  justify-content: center;
  grid-gap: 10px;
  display: none;
}

#game-board div {
  width: 100px;
  height: 100px;
  background-color: rgb(155, 188, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

#game-board div:hover {
  background-color: rgb(3, 70, 255);
  cursor: pointer;
}

#game-board div.disabled {
  background-color: rgb(3, 70, 255);
  color: white;
  cursor: default;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}